main { 
    flex: 1;
}

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;
}

/*
hack the width * furher fix , not auto width to max
*/
@media (max-width: 650px){ 
    main ul {
        width: 535px;
        grid-template-columns: 1fr;
    }
}